
@font-face {
    font-family: 'avoid';
    src: url(fonts/AvoidLight-rgx2A.ttf);
}

@font-face {
    font-family: 'brain';
    src: url(fonts/Do4BrainBold-2ODJo.ttf);
}


@font-face {
    font-family: 'mas';
    src: url(fonts/Masiku.ttf);
}

@font-face {
    font-family: 'nice';
    src: url(fonts/NiceDream.ttf);
}

@font-face {
    font-family: 'sunny';
    src: url(fonts/SunnyspellsRegular-MV9ze.otf);
}
